/* view 全局样式 */
body{background-color: #F0F0F2;}
div{font-size:14px; line-height:2em; color:#0E151D;}
a {text-decoration: none;}
/* flex 布局 */
.pay-flex{display:flex;}
.pay-rows{display:flex; flex-direction:row;}
.pay-columns{display:flex; flex-direction:column;}
.pay-wrap{display:flex; flex-wrap:wrap;}
.pay-nowrap{display:flex; flex-wrap:nowrap;}
.pay-space-between{display:flex; justify-content:space-between;}
.pay-flex-center{justify-content:center;}
.pay-flex-vtop{align-items: flex-start;}
.pay-flex-vbottom{align-items:flex-end;}

/* 卡片组件 */
.pay-card-div{margin-top:20px; margin-bottom:20px; box-shadow:0px 0px 20px #E6E7E9; background:#FFF; padding:11px 13px;}
.pay-card-div .top{display:flex; flex-wrap:nowrap; padding-bottom:15px;}
.pay-card-div .top .avatar{width:60px; height:60px; flex-shrink:0;}
.pay-card-div .top .avatar .image{width:60px; height:60px; border-radius:40px;}
.pay-card-div .top .user-info{width:100%; margin:0px 0px 0px 15px;}
.pay-card-div .top .user-info .username {font-size:16px; font-weight: bold;}
.pay-card-div .top .user-info .coupon {color:#9D9D9E; font-size:14px;}
.pay-card-div .top .user-info .shopping-cart{color:#E18F16; font-size:16px; margin-left: 10px; padding-right: 0px;}
.pay-card-div .top .user-info .cardnumber{color:#FFFFFF; font-size:14px; line-height: 22px; background-color:#FF9800;border-radius: 50px;padding: 0px 10px;}
.pay-card-div .body{display:flex; flex-wrap:nowrap; padding-bottom:15px;}
.pay-card-div .body .code-info{ width:100%; margin:15px 15px;}
.pay-card-div .body .code-info .title{ font-size:16px; font-weight: bold; margin-bottom: 20px;}
.pay-card-div .body .code-info .code-body{height:120px; overflow-y: auto;}
.pay-card-div .body .code-info .codes{ font-size:32px; line-height: 1.8em;display: flex;text-align: center;justify-content:space-between;}
.pay-card-div .body .code-info .codes span {margin: auto;}
.pay-card-div .body .code-info .codes .tag-out { background:#9BDD4F; font-size:14px; color: #FFF; line-height: 1.8em; padding:2px 6px;}
.pay-card-div .body .code-info .codes .tag-here { background:#FF9800; font-size:14px; color: #FFF; line-height: 1.8em; padding:2px 6px;}
.pay-card-div .body .code-info .codes .code {text-align: center}
.pay-card-div .body .code-info .codes .quantity {font-size:14px;}
.pay-card-div .footer{display:flex; flex-wrap:nowrap; margin-top:8px; justify-content:space-between;}
.pay-card-div .footer div{width:100%; font-size:12px; line-height:1.8; text-align:center; border-right:1px solid #EEE; color:#5E5E5E;}
.pay-card-div .footer div:last-child{border:none;}
.pay-card-div .footer .pay-icons:before{padding-right:8px;}

/* 支付按钮组件 */
.pay-btn{padding:15px 25px; margin-bottom: 15px; cursor:pointer;}
.pay-btn .btn-name{font-size:16px;}
.pay-btn .btn-amount{font-size:16px;}
.pay-btn-wx{box-shadow:0px 0px 8px #9BDD4F; background:#9BDD4F;}
.pay-btn-coupon{box-shadow:0px 0px 8px #FF9800; background:#FF9800;}
.pay-btn-wx:active{box-shadow:0px 0px 8px #A7F949; background:#A7F949;}
.pay-btn-coupon:active{box-shadow:0px 0px 8px #FEB13F; background:#FEB13F;}
.pay-btn-credit{box-shadow:0px 0px 8px #E6E7E9; background:#FFFFFF;}

.btn-group{margin-top: 30px;}
.pay-btn-confirm{width:110px; text-align: center; padding:8px 25px; box-shadow:0px 0px 8px #5677FC; background:#5677FC;}
.pay-btn-confirm .btn-title{font-size: 18px; color: #FFFFFF; cursor:pointer;}
.pay-btn-confirm:active{box-shadow:0px 0px 8px #6F8BFD; background:#6F8BFD;}

/* 购买列表组件 */
.pay-buy-coupon-title{margin-top: 20px;}
.pay-buy-coupon-title .text{font-size:16px;font-weight: bold; color: #6F6F6F; margin-left: 4px;}
.pay-buy-coupon-list{margin-top: 10px;}
.pay-buy-coupon-list .pay-buy-coupon{padding:15px 25px; margin-bottom: 15px;cursor:pointer;}
.pay-buy-coupon-list .pay-buy-coupon .name{font-size:16px;}
.pay-buy-coupon-list .pay-buy-coupon .amount{font-size:16px;}
.pay-buy-coupon-list .select{box-shadow:0px 0px 8px #FF9800; background:#FF9800;}
.pay-buy-coupon-list .default{box-shadow:0px 0px 8px #E9E9E9; background:#FFFFFF;}
.pay-buy-coupon-list .select:active{box-shadow:0px 0px 8px #FEB13F; background:#FEB13F;}
.pay-buy-coupon-list .default:active{box-shadow:0px 0px 8px #E9E9E9; background:#F6F6F6;}

/* 购买列表组件 */
.pay-order-info{margin-top: 20px; padding: 10px;}
.pay-order-item{padding: 4px 0;}
.pay-order-item .title{font-size:16px; color: #888888;}
.pay-order-item .content{font-size:16px; color: #888888;}
.pay-prompt{margin-top: 30px; font-size:20px; color: #888888;}

/* icons */
@font-face{font-family:"pay-font"; src:url('fonts/iconfont.eot'); src:url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('fonts/iconfont.woff') format('woff'), url('fonts/iconfont.ttf') format('truetype'), url('fonts/iconfont.svg#iconfont') format('svg');}
.pay-icons{font-family:"pay-font" !important; font-style:normal; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; padding-right:8px;}
.pay-icons-menu:before{content:"\e634";} .pay-icons-toast:before{content:"\e689";} .pay-icons-img:before{content:"\e620";}
.pay-icons-left:before{content:"\e6a5";} .pay-icons-right:before{content:"\e608";} .pay-icons-number:before{content:"\e604";}
.pay-icons-up:before{content:"\e649";}  .pay-icons-up2:before{content:"\e655";} .pay-icons-down:before{content:"\e744";} 
.pay-icons-down2:before{content:"\e609";} .pay-icons-progress:before{content:"\e615";}
.pay-icons-success:before{content:"\e632";} .pay-icons-error:before{content:"\e638";} .pay-icons-range:before{content:"\e613";}
.pay-icons-warn:before{content:"\e603";} .pay-icons-click:before{content:"\e75b";} .pay-icons-tab:before{content:"\e667";}
.pay-icons-loading:before{content:"\e647";} .pay-icons-form:before{content:"\e62c";} .pay-icons-picker:before{content:"\e923";}
.pay-icons-eyes:before{content:"\e63d";} .pay-icons-clear:before{content:"\e6a0";} .pay-icons-home:before{content:"\e611";}
.pay-icons-switch:before{content:"\e679";} .pay-icons-action-sheet:before{content:"\e605";} .pay-icons-news:before{content:"\e62e";}
.pay-icons-swipe:before{content:"\e699";} .pay-icons-media-list:before{content:"\e62d";} .pay-icons-my:before{content:"\e618";}
.pay-icons-forum:before{content:"\e602";} .pay-icons-shop:before{content:"\e67f";} .pay-icons-nav:before{content:"\e606";}
.pay-icons-menu-point:before{content:"\e60e";} .pay-icons-menu-point2:before{content:"\e625";} .pay-icons-star:before{content:"\e661";}
.pay-icons-msg:before{content:"\e60b";} .pay-icons-help:before{content:"\e652";} .pay-icons-water-fall:before{content:"\e60c";} 
.pay-icons-search:before{content:'\e714';} .pay-icons-img-cut:before{content:'\e612';} .pay-icons-register:before{content:'\e677';} 
.pay-icons-write:before{content:'\e646';} .pay-icons-logoff:before{content:'\e610';} .pay-icons-check:before{content:'\e866';} 
.pay-icons-loading2:before{content:"\e61e";} .pay-icons-insert:before{content:"\e6ee";} .pay-icons-clone:before{content:"\e6dc";} 
.pay-icons-remove:before{content:"\e656";} .pay-icons-edit:before{content:"\e600";} .pay-icons-like:before{content:"\e64a";} 
.pay-icons-pause:before{content:"\e96b";} .pay-icons-play:before{content:"\e6b1";} .pay-icons-stop:before{content:"\e61b";} 
.pay-icons-shopping-cart:before{content:"\e633";} .pay-icons-close:before{content:"\e617";}

/* 表单 */
.form .button-group{display: flex;justify-content:flex-end;margin-bottom:10px}
.form .button-group .default{box-shadow:0px 0px 2px #E9E9E9; background:#FFFFFF;padding:2px 12px;cursor: pointer;}
.form .button-group .select{box-shadow:0px 0px 2px #FF9800; background:#FF9800;color:#FFF;padding:2px 12px;cursor: pointer;}
.form .input-number{display: flex;justify-content:space-between;margin-bottom:10px}
.form .input-number .right{display: flex;} 
.form .input-number .right .icon{margin: auto;padding:0 5px;cursor: pointer;} 
.form .input-number .right .text{margin: auto;} 